@model Flatmate.ViewModels.BudgetManager.ShoppingFinalizationViewModel
@{ 
    string participantChargeInputId, isChargePaidId;
}
<div class="card" id="finalizeShoppingDiv">
    <div class="h5 card-header text-center grey lighten-2">
        <i class="fas fa-angle-double-left mr-2 text-white"></i>
        @Model.Subject
        <i class="fas fa-angle-double-right ml-2 text-white"></i>
    </div>
    <div class="card-body">
        <h6 class="text-center">Summary</h6>
        <hr />
        <form id="FinalizeShoppingForm" asp-action="FinalizeShopping">
            <input asp-for="Id" type="hidden" />
            <input asp-for="Subject" type="hidden" />
            <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <label class="font-weight-bold">Your list: </label>
            <ul class="shopping-list">
                @foreach (var sed in Model.SingleElementDescriptions)
                {
                    <li>
                        @sed
                    </li>
                }
            </ul>
            <label class="col-sm-5"><small class="font-weight-bold">Expense category:</small><br /> @Model.ExpenseCategory</label>
            <input asp-for="ExpenseCategory" type="hidden" />
            <label class="col-sm-5"><small class="font-weight-bold">Group:</small><br /> @Model.GroupName</label>
            <input asp-for="GroupId" type="hidden" />
            <hr />
            @*TODO: remove '' class from all elements*@
            <div class="form-group">
                <label asp-for="Value" class="col-sm-4">Total value:</label>
                <input asp-for="Value" class="col-sm-7 d-inline form-control form-control-sm" />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
            <div class="form-check-inline col-sm-6">
                <input id="divideBillEquallyCheckbox" type="checkbox" class="my-3 form-check-input" /><small> Divide charge equally</small>
            </div>
            <div class="form-check-inline col-sm-5">
                <input asp-for="IsCovered" type="checkbox" class="my-3 form-check-input" /><small>Mark this bill as settled</small>
                <span asp-validation-for="IsCovered" class="text-danger"></span>
            </div>
            <hr />
            <div class="mt-3" id="groupMembersSFWrapper">
                @for (int i = 0; i < Model.ParticipantIds.Length; i++)
                {
                    participantChargeInputId = "ParticipantsCharge";
                    isChargePaidId = "DidParticipantsPay";
                    var hiddenInputId = "hidden-" + i.ToString();

                    <div class="form-group">
                    <input name="ParticipantIds" type="hidden" value="@Model.ParticipantIds[i]" />
                        <div class="font-weight-bold">@Model.ParticipantNames[i]</div>
                        <div>
                            <label class="px-1 col-md-3"><small>Charge value:</small></label>
                            <input name="@participantChargeInputId" class="col-md-4 mr-md-2 d-inline form-control form-control-sm" />
                            <label class="px-1 col-md-4 pl-md-2 big-screen-left-border form-check-inline">
                                <input name="@isChargePaidId" type="checkbox" class="my-3 form-check-input" />
                                <input id="@hiddenInputId" name="@isChargePaidId" type="hidden" value="false" />
                                <small>Bill was settled</small>
                            </label>
                        </div>
                    </div>
                }
            </div>
        </form>
    </div>
    <div class="d-flex card-footer justify-content-between">
        <button class="w-50 btn btn-dark" data-dismiss="card">Close</button>
        <button id="btnSubmit" type="submit" data-save="card" class="w-50 btn btn-dark">Ready!</button>
    </div>
</div>