@model List<Flatmate.Models.EntityModels.SingleComplexOrder>
@using System.Globalization;
@{
    CultureInfo cultureInfo = CultureInfo.CreateSpecificCulture("de-DE");
}
@if (Model.Count > 0)
{
    @foreach (var shoppingList in Model)
    {
        <div class="col-lg-12 col-md-6 col-12 mb-2">
            <div class="toast animated fadeIn mx-auto" style="opacity: 1">
                <div class="toast-header d-block yellow lighten-5">
                    <strong>@shoppingList.Subject</strong><br />
                    <i><small>@shoppingList.ExpenseCategory</small></i><br />
                    <small>Created: @shoppingList.CreationDate.ToString("d", cultureInfo)</small>
                </div>
                <div class="toast-body">
                    <ul class="p-1">
                        @foreach (var pe in shoppingList.OrderElements)
                        {
                            <li>@pe.Title - @pe.Amount <small>@pe.Unit</small></li>
                        }
                    </ul>
                </div>
                <a onclick="activateSingleFinalizeSLCard(@shoppingList.Id)" class="fas fa-shopping-cart m-3 float-right" title="Done!"></a>
                <a onclick="activateSingleDeleteSLCard(@shoppingList.Id)" class="fas fa-trash m-3 float-right" title="Delete!"></a>
            </div>
        </div>
    }
}
else
{
    <div class="col-lg-12 col-md-6 col-12 mb-2">
        <div class="toast animated fadeIn mx-auto" style="opacity: 1">
            <div class="toast-header d-block yellow lighten-5">
                <button class="h4 mt-2 border-0 bg-transparent" data-toggle="ajax-shopping-list-modal" data-target="#modalShoppingListCreate" data-url="@Url.Action("NewShoppingList")">
                    Create new shopping list!
                </button>
            </div>
            <div class="toast-body">
                <p class="text-center">You shopping listing is empty!</p>
            </div>
        </div>
    </div>

}

