@model Flatmate.Models.EntityModels.Team

<div class="m-md-5 m-4">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title pl-2"><strong>My groups</strong></h5>
            <hr />
            <img class="rounded-circle float-right border" style="border-color:black;border-width:5px;height:70px;width:70px;margin-top:-3.5rem;margin-right:2rem" src="~/images/Dashboard/group.png" />
            <div id="personalInformation" class="mb-3">
                <div class="row pl-2">
                    <div class="col-md-4">
                        <div class="d-inline">
                            <small><b>@Html.DisplayNameFor(model => model.Name)</b></small>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="d-inline">
                            @Html.DisplayFor(model => model.Name)
                        </div>
                    </div>
                </div>
                @*<div class="row pl-2">
                    <div class="col-md-4">
                        <div class="d-inline">
                            <small><b>@Html.DisplayNameFor(model => model.EmailAddress)</b></small>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="d-inline">
                            @Html.DisplayFor(model => model.EmailAddress)
                        </div>
                    </div>
                </div>*@
            </div>
            <hr />
            <div id="groupsInformation" class="mb-3">
                <div class="row pl-2">
                    <div class="col-md-12 mb-3">
                        @*TODO: change id below for the sent one*@
                        <a asp-action="Edit" asp-controller="Users" asp-route-id="1" title="Details">
                            <i>My groups</i>
                        </a>
                    </div>
                </div>
                @*@foreach (var teamAssignment in Model.TeamAssignments)
                {
                    <div class="row pl-2">
                        <div class="col-md-4">
                            <div class="d-inline">
                                <small><b>@Html.DisplayNameFor(model => teamAssignment.Team.Name)</b></small>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="d-inline">
                                @Html.DisplayFor(model => teamAssignment.Team.Name)
                            </div>
                        </div>
                    </div>
                }*@
            </div>
        </div>
    </div>
</div>