@model Flatmate.ViewModels.Dashboard.CredibilityExpenseViewModel

<div class="expense-thumbnail" data-toggle="modal" data-target="#credi-expense-modal">
    <p>@Model.Value</p>
    <p>@Model.DebitorFirstName @Model.DebitorLastName</p>
    <p>@Model.Date</p>
    <p>@Model.ExpenseSubject</p>
</div>

<!-- The Modal -->
<div class="modal" id="credi-expense-modal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">You are owed ...</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <p>@Model.Value</p>
                <p>@Model.Date</p>
                <p>
                    @Model.DebitorFirstName @Model.DebitorLastName
                    <a asp-area="" asp-controller="User" asp-action="Details">
                        <i class="material-icons">person</i>
                    </a>
                </p>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>