@model Flatmate.ViewModels.Dashboard.CredibilityExpenseThumbnailViewModel

<div>
    <p>@Model.Value</p>
    <p>@Model.DebitorFirstName @Model.DebitorLastName</p>
    <p>@Model.Date</p>
    <p>@Model.ExpenseSubject</p>
</div>
