@model Flatmate.ViewModels.Dashboard.LiabilityExpenseViewModel

<div class="expense-thumbnail" data-toggle="modal" data-target="#liab-expense-modal">
    <p>@Model.Value</p>
    <p>@Model.InitiatorFirstName @Model.InitiatorLastName</p>
    <p>@Model.Date</p>
    <p>@Model.ExpenseSubject</p>
</div>

<!-- The Modal -->
<div class="modal" id="liab-expense-modal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">You owe ...</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <p>@Model.Value</p>
                <p>@Model</p>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>