@model Flatmate.ViewModels.Dashboard.LiabilityExpenseThumbnailViewModel

<div>
    <p>@Model.Value</p>
    <p>@Model.InitiatorFirstName @Model.InitiatorLastName</p>
    <p>@Model.Date</p>
    <p>@Model.ExpenseSubject</p>
</div>
