<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Flatmate</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/mdbootstrap/css/mdb.min.css"/>
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/scss/custom.min.css" />
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
            asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <header class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar blue">
        <a class="navbar-brand ml-3" asp-area="" asp-controller="Home" asp-action="Index">
            <i class="fas fa-angle-double-left"></i>
            <strong class="text-dark">Flatmate</strong>
            <i class="fas fa-angle-double-right"></i>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                        Scheduler
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                        Budget Manager
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                        <i class="fas fa-info-circle text-dark"></i>
                        Help!
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                        <i class="far fa-bell text-dark"></i>
                        NTFNs
                        <span class="badge badge-danger notification-badge">4</span>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <i class="far fa-user text-dark"></i>
                        Profile
                    </a>
                    <div class="dropdown-menu dropdown-default nav-dropdown-position-right" aria-labelledby="navbarDropdownMenuLink-333">
                        @*TODO: zmienić id poniżej na id zalogowanego użytkownika *@
                        <a class="dropdown-item" asp-action="Details" asp-controller="Users" asp-route-id="1">Profile</a>
                        <a class="dropdown-item" href="#">Settings</a>
                        <a class="dropdown-item" href="#">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </header>
    <div class="container-fluid">
        <div class="row">
                <nav id="" class="d-none d-md-block border-right sidebar p-1 stylish-color left-nav-sizing overflow-auto position-fixed my-5">
                    <div class="sidebar left-nav-sizing-inner overflow-auto">
                        <ul class="nav flex-column overflow-auto">
                            @for (int i = 0; i < 7; i++)
                            {
                                var groupName = "G" + i.ToString();
                                <li class="nav-item text-center">
                                    <div class="p-1 mb-1 mt-1">
                                        <a class="nav-link p-1 mt-2 mb-2 border-animation" href="#">
                                            <div class="border-animation__inner pt-4" title="Show group details!">@groupName</div>
                                        </a>
                                    </div>
                                </li>
                            }
                            @* TODO: remove when new group button added*@

                            @*<li class="nav-item text-center">
                            <div class="p-1 mb-2 mt-2">
                                <a class="nav-link p-1 mt-2 mb-2" data-toggle="modal" data-target="#modalTeamCreate">
                                    <img src="~/images/Dashboard/baseline-add_circle_outline-24px.svg" class="w-50 mb-2 mt-2" />
                                </a>
                            </div>
                        </li>*@
                        </ul>
                    </div>
                </nav>
            <div class="w-100 px-4 m-5">
                @RenderBody()
            </div>
        </div>
        <!-- Footer -->
        <footer class="page-footer font-small fixed-bottom blue">

            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">
                <a class="pr-3 border-right border-white" href="https://mdbootstrap.com/education/bootstrap/"> Flatmate.com</a>
                @{
                    var socialIconNames = new string[] { "fa-facebook-f", "fa-twitter", "fa-instagram" };
                    for (int i = 0; i < socialIconNames.Length; i++)
                    {
                        <a class="mx-2" href="#"><i class="fab @socialIconNames[i]"></i></a>
                    }
                }
            </div>
            <!-- Copyright -->

        </footer>
        <!-- Footer -->
    </div>

    @*<partial name="~/Views/Teams/_createTeamPartial.cshtml" />*@

    <environment include="Development">
        <script src="~/lib/jquery/jquery.js"></script>
        <script src="~/lib/popper.js/umd/popper.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/mdbootstrap/js/mdb.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.7/js/mdb.min.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
