<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Flatmate</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/scss/custom.min.css" />
    <link rel="stylesheet" href="~/lib/mdbootstrap/css/mdb.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-slider/css/bootstrap-slider.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css" />
    @*<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">*@
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/lib/Chart.js/Chart.min.css" />

    <environment include="Development">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <header class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar blue">
        <a class="navbar-brand ml-3" asp-area="" asp-controller="Home" asp-action="Index">
            <i class="fas fa-angle-double-left"></i>
            <strong class="text-dark">Flatmate</strong>
            <i class="fas fa-angle-double-right"></i>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    @*TODO: Change Id for Id provided by the user*@
                    <a class="nav-link" asp-area="" asp-controller="Scheduler" asp-action="Index" asp-route-id="1">
                        Scheduler
                    </a>
                </li>
                <li class="nav-item">
                    @*TODO: Change Id for Id provided by the user*@
                    <a class="nav-link" asp-area="" asp-controller="Shopping" asp-action="Index" asp-route-id="1">
                        Shopping planner
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="BudgetManager" asp-action="Index">
                        Budget Manager
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                        <i class="fas fa-info-circle text-dark"></i>
                        Help!
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                        <i class="far fa-bell text-dark"></i>
                        NTFNs
                        <span class="badge badge-danger notification-badge">4</span>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <i class="far fa-user text-dark"></i>
                        Profile
                    </a>
                    <div class="dropdown-menu dropdown-default nav-dropdown-position-right w-100" aria-labelledby="navbarDropdownMenuLink-333">
                        @*TODO: zmienić id poniżej na id zalogowanego użytkownika *@
                        <a class="dropdown-item" asp-action="Details" asp-controller="Users" asp-route-id="1">Profile</a>
                        <a class="dropdown-item" href="#">Settings</a>
                        <a class="dropdown-item" href="#">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </header>
    <div class="container-fluid">
        <div class="row">
            <nav id="" class="d-none d-md-block border-right sidebar p-1 stylish-color left-nav-sizing overflow-auto position-fixed my-5">
                <div class="sidebar left-nav-sizing-inner overflow-auto">
                    <ul class="nav flex-column overflow-auto">
                        @for (int i = 0; i < 7; i++)
                        {
                            var groupName = "G" + i.ToString();
                            <li class="nav-item text-center">
                                <div class="p-1 mb-1 mt-1">
                                    <a class="nav-link p-1 mt-2 mb-2 border-animation" href="#">
                                        <div class="rounded border-animation__inner pt-4" title="Show group details!">@groupName</div>
                                    </a>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </nav>
            <div class="w-100 px-4 m-5">
                @RenderBody()
            </div>
        </div>
        <!-- Footer -->
        <footer class="page-footer font-small fixed-bottom blue">

            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">
                <a class="pr-3 border-right border-white" href="#"> Flatmate.com</a>
                @{
                    var socialIconNames = new string[] { "fa-facebook-f", "fa-twitter", "fa-instagram" };
                    for (int i = 0; i < socialIconNames.Length; i++)
                    {
                        <a class="mx-2" href="#"><i class="fab @socialIconNames[i]"></i></a>
                    }
                }
            </div>
            <!-- Copyright -->

        </footer>
        <!-- Footer -->
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="~/lib/moment.js/moment.js"></script>
    <script src="~/lib/moment.js/locale/pl.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
            integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="~/lib/mdbootstrap/js/mdb.min.js"></script>
    <script src="~/lib/Chart.js/Chart.min.js"></script>

    <environment include="Development">
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/scheduler.js" asp-append-version="true"></script>
        <script src="~/js/budgetManager.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <script src="~/js/scheduler.js" asp-append-version="true"></script>
        <script src="~/js/budgetManager.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
