@model List<Flatmate.ViewModels.Dashboard.FutureExpenseViewModel>
@using System.Globalization;
@{     
    CultureInfo cultureInfo = CultureInfo.CreateSpecificCulture("de-DE");
}

@foreach(var rb in Model)
{
    <div class="col-lg-12 col-sm-6 col-12 mb-2">
        <div class="toast animated fadeIn" style="opacity: 1">
            <div class="toast-header d-block brown lighten-5">
                <strong class="text-danger float-right">-@rb.Value PLN</strong>
                <strong>@rb.Subject</strong><br />
                <i><small>@rb.ExpenseCategory</small></i><br />
                <a asp-action="Details" asp-controller="RecurringBills" asp-route-id="@rb.Id" class="float-right animated flipInX">
                    Details
                    <i class="fas fa-angle-double-right"></i>
                </a>
                <small>Next: @rb.NextOccurenceDate.ToString("g", cultureInfo)</small>
                <br/>
                <small>Frequency: @rb.Frequency</small>
                <br/>
                <small>Expire: @rb.ExpirationDate.ToString("g", cultureInfo)</small>
            </div>
        </div>
    </div>
}